mixin icon-positioning()
  ng-template(*ngIf="iconName && iconPosition === 'left'; then icon")
  ng-content
  ng-template(*ngIf="iconName && iconPosition === 'right'; then icon")

  ng-template(#icon)
    svg([nglIconName]="iconName", [ngClass]="svgClasses")
